.whatsapp_fab {
  width: 55px;
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(1, 209, 64);
  font-size: 23px;
  color: #fff;
  border-radius: 50%;
  position: fixed;
  bottom: 25px;
  right: 25px;
}
