.header {
  width: 100%;
  height: 65px;
  border-bottom: 1px solid #eaeaea;
}

.header__container {
  width: 75%;
  margin: 0 auto;
  height: 100%;
}
.header__wrapper {
  width: 100%;
  height: 100%;
}
.header__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__left {
  display: flex;
  align-items: center;
  gap: 25px;
}
.brand__logo {
  font-weight: 700;
  font-size: 22px;
}

.nav__searchbar {
  width: 350px;
  height: 38px;
  background-color: #fafafa;
  display: flex;
  align-items: center;
  gap: 12px;
  padding-left: 12px;
  border-radius: 4px;
}
.nav__searchbar input {
  width: 90%;
  height: 90%;
  background-color: transparent;
  border: 1px solid transparent;
  outline: 0;
}
.nav__right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 12px;
}
.navButton {
  width: 48px;
  height: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #707070;
}

.navButton svg {
  width: 23px;
  height: 23px;
}

.navButton span {
  font-size: 14px;
}

@media screen and (max-width: 968px) {
  .nav__right .navButton {
    display: none;
  }
  .hamburger {
    display: flex;
  }
  .nav__searchbar {
    display: none;
  }
}

@media screen and (min-width: 968px) {
  .hamburger {
    width: 48px;
    height: 48px;
    display: none;
    align-items: center;
    justify-content: center;
  }
}
