.foot{
    width:100%;
    text-align:center;
    justify-content:center;
    padding-top:40px;
    padding-bottom:40px;
}
.followtext{
    font-size:15px;
    line-height:20px;
    font-weight:400px;
}
.one{
    font-size: 15px;
    line-height: 15px;
    margin-bottom:12px;
    font-weight:400px;
}
.two{
    font-weight: bold;
    font-size: 15px;
    line-height: 24px;
    margin-bottom:12px;
}
.three{
    font-weight:400px;
    font-size: 14px;
    line-height: 20px;
    margin-bottom:12px;
}
.follow{
    width:100%;
    text-align:center;
    justify-content:center;
    padding-top:40px;
    padding-bottom:40px;
}
.social{
    width:100%;
    display:flex;
    text-align:center;
    justify-content: center;
}
.tag{
    padding:10px;
}
@media only screen and (max-width: 1024px)
{
    .foot{
        width:100%;
        text-align:left;
        justify-content:left;
        padding:24px 16px;
    }
    .one{
        font-size: 14px;
        line-height: 18px;
        margin-bottom:12px;
        font-weight:400px;
    }
    .two{
        font-weight: bold;
        font-size: 15px;
        line-height: 20px;
        margin-bottom:12px;
    }
    .three{
        font-weight:400px;
        font-size: 14px;
        line-height: 20px;
        margin-bottom:12px;
    }
    .followtext{
        font-size:14px;
        line-height:20px;
        font-weight:400px;
    }
    .follow{
        width:100%;
        text-align:left;
        justify-content:left;
        padding:24px 16px;
    }
    .social{
        width:100%;
        justify-content:left;
        text-align:left;
    }
    .tag{
        padding-right:10px;
        padding-top:10px;
        padding-left:0px;
    }
}